<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Dropit</title>
  <%= render partial: 'spree/mailer_views/styles'%>
</head>