<td align="center" style="background: #ed1c24; height: 80px;">
	<%= link_to 'https://web-app.staging.dropitapp.com/' do %>
    	<%= image_tag 'https://auctions.dropitapp.com/img/droplogo_new.png',height: '55px' , alt: 'Dropit'%>
	<% end %>
</td>


